body{
    text-align: center;
    background-color:rgb(0, 0, 128);
}

img{
    border-radius: 35px;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
}

#left{
    width: 28%;    
    padding-left: 5%;
    padding-right: 3%;
    float: left;
}

#mid{
    width: 28%;    
    float: left;
}

#right{
    width: 28%;    
    padding-right: 5%;
    padding-left: 3%;
    float: left;
}
