body{
background-color:#fff;
font-family:Arial, Helvetica, sans-serif;

}
img{
    border-radius: 6px;
}


#sub {
    background-color: rgba(204, 31, 3);
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 150px;
    font-size: 22px;
    padding: 10.25px 15px;
    float: right;
    margin-right: 15px;
}
#sign{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: solid darkgray 1px;
    border-radius: 10px;
    width: 120px;
    font-size: 2em;
    float: right;
    margin-top: 2px;
}

#img1{
    float: right;
    height: 42.5px;
    margin-right: 30px;
}

#img2{
    float: left;
    height: 42.5px;
margin-right: 15px;
}

nav{
border-bottom: solid rgb(47, 47, 47) 3px;
height: 50px;
width: 95%;
margin: auto;
}

h6{
    font-size: 20px;
    padding:11.25px 15px;
    float: left;
    margin-top: 0%;

}

#down{
    height: 32.5px;
    padding:5px 0%;
}

#trends{
    font-weight:lighter ;
    width: 95%;
    float: left;
    font-size: 20px;
}

#img3{
    height: 50px;
    margin-top: -12px;
}

.trends{
    float: left;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 1px;
    padding-bottom: 20px;
    padding-top: 10px;
}

#trending{
    padding-left: 55px;
    margin-top: -2.5px;
}

#leftcol{
float: left;
width: 28%;
height: 85vh;

}

#midcol{
    float: left;
    width:44%;
    height: 85vh;

    }


#rightcol{
    float: right;
    width: 28%;
    height: 85vh;

    }

 
#img4{
    width: 95%;
    padding: 5% 2.5%;
    border-radius: 35px;
}

#img5{
    width: 85%;
    padding: 5% 7.5%;
    border-radius: 70px;
}
#img6{
    width: 95%;
    padding: 5% 2.5%;
    border-radius:35px;
}
#img7{
    width: 95%;
    padding: 5% 2.5%;
    border-radius: 35px;
}
#img8{
    width: 21.125%;
    padding: 5% 2.5%;
    border-radius: 35px;
    margin-left: 7.5%;
}
#img9{
    width: 21.125%;
    padding: 5% 2.5%;
    border-radius: 35px;
}
#img10{
    width: 21.125%;
    padding: 5% 2.5%;
    border-radius: 35px;
}
#img11{
    width: 95%;
    padding: 5% 2.5%;
    border-radius: 35px;
}

#heading{
    font-size: 400%;
text-align: center;
margin-bottom: -20px;
margin-top: -5px;
}

#descNorm{
    font-size: 200%;
    margin-top: -20px;
    margin-left: 20px;
}


#descTrump{
    font-size: 200%;
    margin-top: -20px;
    margin-left: 55px;
    margin-bottom: -10px;
}

#header{
    float: left;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: -20px;
}

hr{
    color: rgb(249, 248, 248);
}

span{
    font-weight: bold;
    float: left;
    font-size: 100%; 
    margin-bottom: 0;

}
#sports{
    float: left;
    font-size: 150%; 
    width: 90%;
    padding-right: 10%;
    margin-bottom: 30px;
}

#gold{
    margin-top: 20px;
    float: left;
}

#minicol1{
    width: 21.125%;
    padding: 0% 2.5%;
    border-radius: 35px;
    margin-left: 7.5%;
    width: 21.125%;
    float: left;
    font-size: 115% ;
    margin-top: -45px;
    font-weight: bold;
    color: red;
}

#minicol2{
    width: 21.125%;
    padding: 0% 2.5%;
    float: left;
    font-size: 115% ;
    margin-top: -45px;
    margin-left: 5px;
}

#minicol3{
    width: 21.125%;
    padding: 0% 2.5%;
    float: left;
    font-size: 115% ;
    margin-top: -45px;
    margin-left: 5px;
}