body{
width: 1366px;
height: 768;
background-color: white;
}

#Title{

text-align: center;
margin: auto;
}

#LinkBoxTop{
background-color: grey;
width: 1366px;
border: solid;
margin: auto;
}

#Box{
background-color: grey;
width: 700px;
height: 600px;
border: solid;
margin: auto;
margin-top: 25px;
}

h3{
    text-align: center;
    padding-top: 20px;
}

hr{
    margin-top: -20px;
width: 450px;
}

ol{
width: 50%;
margin: auto;

}
li{
font-size: 200%;

}
a{
padding: 0px 150px;

}
a:hover{
background-color: lightgray;

}