
h1{
    font-size: 400%;
    text-align: center;
}

h2{
    font-size: 250%;
}

div.diagonal{
    width: 0px;
    height: 0px;
border-right: 100vw solid transparent;
border-bottom: 13.9vw solid grey;
margin-top: -13.9vw;
}



section.top{    
    background-color: darkgrey;
    padding:225px 10%;
    padding-top:150px;
    padding-bottom:250px;  
    padding-left: 200px;
}

section.bottom{
    background-color: grey;
    padding-top:250px;
    padding-bottom:150px;  
    text-align: right;
    padding-right: 200px;
}

img{ 
    width: 300px;
    
}

#turk{
float: right;
margin-top: -200px;
}

#ham{
float: left;
margin-top: -200px;
padding-left: 50px;
}

#vs{
    position: absolute;
    font-size: 600%;
    top: 39vh;
    left: 44vw;
}