#title{
    text-align: center;
    border-bottom: solid 5px;
    border-color: rgb(246, 246, 179);
    }
    body{
        background-color: rgb(43, 43, 43);
        color: rgb(251, 255, 0);
    }
    
    img{
        width: 50%;
        border-radius:10%;
    }
    
    #body{
    padding-top: 30px;
    text-align: center;
    }
    p{
    font-size: 150%;
    }
    
    h4{
    padding-top: -10px;
    
    }
    
    #links{
        border-bottom: solid 5px;
        border-color: rgb(246, 246, 179) ;        
        text-align: center;
    }
    .link{
        padding:0% 8%;

    }
    
    a:hover{
        color: rgb(255, 255, 255);
        
        }
        a{
        color: rgb(255, 147, 39);
        }