
#title{
    text-align: center;
    border-bottom: solid 5px;
    border-color: rgb(0, 238, 255);
    }
    body{
        background-color: rgb(43, 43, 43);
        color: rgb(130, 255, 130);
    }
    
    #links{
        border-bottom: solid 5px;
        border-color: rgb(0, 238, 255);        
        text-align: center;
    }
    .link{
        padding:0% 8%;

    }

    #leftcol{
        float: left;
        width: 49.5%;
        background-color: rgb(77, 76, 76);

    }
    #rightcol{
        float: right;
        width: 49.5%;
        background-color: rgb(77, 76, 76);               
    }
    img{
        width: 50%;
        border-radius:10%;
    }
    
    #body{
    padding-top: 30px;
    text-align: center;
    }
    p{
    font-size: 180%;
    }
    
    h4{
    padding-top: -10px;
     } 
     
     a:hover{
        color: rgb(255, 255, 255);}
    a{
        color: rgb(255, 147, 39);
        }



